* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.container {
  max-width: 960px;
}

.overflow-hidden {
  overflow: hidden;
}

.theme-color {
  color: #ea7b6a;
}

.back-banner {
  background-image: url("Images/Comapny_Profile.png");
  height: 73%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* For larger screens */
@media only screen and (min-width: 400px) {
  .back-banner {
    background-image: url("Images/Comapny_Profile.png");
  }
}

@media only screen and (max-device-width: 768px) {
  .A1 {
    margin-top: -100px;
  }
}

.back-bg-color {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}
.nav-color-item:hover {
  color: #e76e5c !important;
}

.nav-link-btn-company-bottom-nav {
  color: #000;
  transform: color;
  transition-duration: 500ms;
  margin-top: 20px;
  position: absolute;
}
.navbar-nav {
  position: absolute;
  right: 50px;
  width: 100%;
  margin: auto;
}
.navbar-nav > .nav-item-b {
  font-weight: 500;
  font-family: sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
  cursor: pointer;
  margin: 0 auto;
}

.nav-link-btn-company-bottom-nav:hover {
  color: #ea7b6a;

  display: inline;
  transform: color;
  transition-duration: 500ms;
}

@keyframes glow-flex {
  5% {
    text-shadow: 0.5px 0.5px 2px #e76e5c;
    opacity: 0.99;
  }
  10% {
    text-shadow: 1px 1px 4px #ea7e6e;
    opacity: 0.95;
  }
  15% {
    text-shadow: 1.5px 1.5px 6px #e96450;
    opacity: 0.9;
  }
  20% {
    text-shadow: 2px 2px 8px #e6543e;
    opacity: 0.85;
  }
  25% {
    text-shadow: 2.5px 2.5px 10px #e0432b;
    opacity: 0.8;
  }
  30% {
    text-shadow: 3px 3px 12px #e7371c;
    opacity: 0.75;
  }
}

.banner-business-service-text {
  animation-name: glow-flex;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 500ms;
  animation-timing-function: ease-in-out;
  position: absolute;
  left: 0;
  top: -370px;
  width: 100%;
  text-align: center;
}
/* @media(max-width:986px) {
  .banner-business-service-text{
    display: none;
  }
} */

/********* each heading **********/
.background-hr {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  border-style: solid;
  border-color: gray;
  transform: translate(0px, 5px);
}

.Header {
  text-align: center;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card {
  cursor: pointer;
  width: 340px;
  height: 480px;
}
.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
}
.front img {
  height: 100%;
}
.front {
  transform: perspective(600px) rotateY(0deg);
}
.back {
  background: #e1bee7;
  transform: perspective(600px) rotateY(180deg);
}

.back-content {
  color: #2c3e50;
  text-align: center;
  width: 100%;
  font-family: monospace;
  font-size: 20px;
}
.sm {
  margin: 20px 0;
}
.sm a {
  display: inline-flex;
  width: 110px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #2c3e50;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 30%;
}
.sm a:hover {
  background: #2c3e50;
  color: white;
}
.card:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

.event-business-background {
  background-image: url("Images/event.jpg");
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}

.event-technical-background {
  background-image: url("Images/technical.jpg");
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.event-card h3 {
  color: #fff;
  transform: color;
  transition-duration: 500ms;
}
.event-card:hover .heading {
  color: #ea7b6a;
  transform: color;
  transition-duration: 500ms;
}

.back-bg-color {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1200px) {
  .inner-container1 {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .About-Us {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
  .inner-container1 {
    width: 100%;
  }
}

.collapse .navbar-nav .nav-item .nav-link {
  color: white;
}
.collapse .navbar-nav .nav-item.active .nav-link,
.collapse .navbar-nav .nav-item:hover .nav-link {
  color: #ea7e6e;
}

@media screen and (max-width: 600px) {
  .About-Us {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
  .inner-container1 {
    padding: 60px;
  }
}

@media (min-width: 992px) {
  .hero li {
    margin-left: 3em;
    margin-right: 3em;
  }
}

/******************events************/
.upcoming-btn,
.closed-btn {
  cursor: pointer;
}
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu::-webkit-scrollbar {
  display: none;
}
.scrollmenu::-moz-scrollbar {
  display: none;
}

div.scrollmenu .event {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  position: relative;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.event-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: normal;
  width: 80%;
}

.event img {
  height: 250px;
  opacity: 0.5;
}
@media only screen and (max-device-width: 400px) {
  .event img {
    height: 210px;
  }
  .event-text {
    font-size: 12px;
    line-height: 14px;
  }
}

/* Modal Content/Box */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 8%;
}

.modal-content {
  position: relative;
  flex-direction: column;
  width: 90%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  padding-bottom: 10px;
  overflow: scroll;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
}
input,
textarea {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #eaeaea;
  padding-left: 8px;
}
input:focus,
textarea:focus {
  box-shadow: 0px 0px 3px 3px rgba(234, 126, 109, 0.6);
}
.press[type="submit"] {
  border: 3px solid #e8715f;
  outline: none;
  width: 30%;
  padding: 5px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 8px 8px rgba(234, 126, 109, 0.6);
}

form input[type="submit"]:hover {
  box-shadow: 0px 0px 10px 10px rgba(234, 126, 109, 0.6);
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*****pop up video ******/
.video-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
.video-active {
  visibility: visible;
  opacity: 1;
}
.video-container video {
  position: relative;
  max-width: 900px;
  width: 100%;
  outline: none;
}
.video-container .active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 991px) {
  .video-close video {
    max-width: 90%;
  }
}
.video-close-btn {
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.video-close-btn:hover,
.video-close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navbar-toggler {
  outline: none !important;
  border: none !important;
}

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
  background-color: #444;
}

.carousel .carousel-control-prev .carousel-control-prev-icon {
  background-color: black;
  border-radius: 100px;
  transform: scale(1.5, 1.5);
}

.carousel .carousel-control-next .carousel-control-next-icon {
  background-color: black;
  border-radius: 100px;
  transform: scale(1.5, 1.5);
}

/* mobile view of first container */
@media (max-width: 986px) {
  .navbar .mobile-button_slide {
    height: 10px !important;

    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: inset -35px 0 0 0 white;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    font-size: 1.1rem;
    margin-right: auto;
  }

  .navbar .mobile-view-ul .mobile-view-li {
    height: 100%;
  }

  .navbar .mobile-view-ul .mobile-view-li {
    padding: 35px 0;
  }

  .navbar .mobile-button_slide {
    font-weight: 500;
    cursor: pointer;
    /* box-shadow: inset -25px 0 0 0 white; */
    padding: 5px 0;
    height: 10px !important;
    margin: 30px auto;
  }
  .no-banner-heading {
    display: none;
  }
  .navbar-toggler {
    top: 10px;
    right: 0px;
  }
  .navbar .logo {
    position: absolute;
    top: 10px;
    left: 25px;
  }
  .mobile-view {
    display: none !important;
  }
  .mobile-first-text {
    margin-top: 150px !important;
  }
  .mobile-view-background {
    width: 100%;
    height: 100%;
    background-color: #ffdab9;
    z-index: 1;
  }
}
