body,
html {
  height: 100%;
  margin: 0;
  padding: 0 !important;
  scroll-behavior: smooth;
  background-color: #fafafa;
}
.theme-color {
  color: #ea7e6e;
}
.nav-color-item:hover {
  color: #e76e5c !important;
}

.navbar-nav .nav-item .nav-link {
  color: white;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: #ea7e6e;
}

.bgimg-blog {
  position: relative;
  background-size: 100% 100%;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  height: 72%;
  margin: 0 !important;
  padding: 0 !important;
}

.bgimg-blog {
  /* background-image: url("Images/Blogs.png"); */
  background-image: linear-gradient(
      115deg,
      rgba(37, 37, 37, 0.596),
      rgba(29, 28, 28, 0.5)
    ),
    url(Images/Blogs.png);
}
@media only screen and (max-device-width: 375px) {
  .bgimg-blog {
    background-image: linear-gradient(
        115deg,
        rgba(37, 37, 37, 0.596),
        rgba(29, 28, 28, 0.5)
      ),
      url(Images/mobile_blogs.png);
  }
}

@media only screen and (max-device-width: 768px) {
  .A1 {
    padding-top: 60px;
    display: flex;
    text-align: center;
    vertical-align: middle;
  }
}

/* .back-bg-color{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  } */

@keyframes glow-flex {
  5% {
    letter-spacing: 0.2px;
    text-shadow: 0.5px 0.5px 2px #e76e5c;
    opacity: 0.95;
  }
  10% {
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 4px #ea7e6e;
    opacity: 0.9;
  }
  15% {
    letter-spacing: 0.7px;
    text-shadow: 1.5px 1.5px 6px #e96450;
    opacity: 0.85;
  }
  20% {
    letter-spacing: 1px;
    text-shadow: 2px 2px 8px #e6543e;
    opacity: 0.8;
  }
  25% {
    letter-spacing: 1.2px;
    text-shadow: 2.5px 2.5px 10px #e0432b;
    opacity: 0.75;
  }
  30% {
    letter-spacing: 2px;
    text-shadow: 3px 3px 12px #e7371c;
    opacity: 0.7;
  }
}
.blog-banner-text {
  background-color: transparent;
  color: #fff;
  padding: 18px;
  letter-spacing: 5px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 8vw;
  font-family: sans-serif;
  animation-name: glow-flex;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 500ms;
  animation-timing-function: ease-in-out;
}

.caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
}

.blog-banner-text {
  background-color: transparent;
  color: #fff;
  padding: 18px;
  letter-spacing: 5px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 8vw;
  font-family: sans-serif;
}

.main-row {
  margin-top: 10%;
}
.card {
  cursor: pointer;
}
.card img {
  transform: translateY(-50px);
  border-radius: 15px;
  z-index: 1;
}
.card .card-body {
  visibility: hidden;
  transform: translateY(-150px);
  height: 0px;
}
.card:hover .card-body {
  visibility: visible;
  transform: translateY(-50px);
  transition: 0.5s;
  height: auto;
}
.card h4 {
  visibility: visible;
  text-align: center;
  color: #e76e5c;
}
.card:hover h4 {
  visibility: hidden;
}
.card-body h5 {
  color: #e76e5c;
}
.card-body button {
  color: #e76e5c;
}

.bg-none .navbar-collapse {
  background-color: none;
  z-index: 9;
  text-align: center;
}

.navbar-toggler {
  outline: none !important;
  border: none !important;
}

@media (min-width: 992px) {
  .hero li {
    margin-left: 3em;
    margin-right: 3em;
  }
}

.n1,
.n2 {
  color: white;
}

.n1:hover {
  color: #e76e5c;
}

.n2:hover {
  color: #e76e5c;
}
/* mobile view of  first container */
@media (max-width: 986px) {
  .navbar .mobile-button_slide {
    height: 10px !important;

    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: inset -35px 0 0 0 white;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    font-size: 1.1rem;
    margin-right: auto;
  }

  .navbar .mobile-view-ul .mobile-view-li {
    height: 100%;
  }

  .navbar .mobile-view-ul .mobile-view-li {
    padding: 35px 0;
  }

  .navbar .mobile-button_slide {
    font-weight: 500;
    cursor: pointer;
    /* box-shadow: inset -25px 0 0 0 white; */
    padding: 5px 0;
    height: 10px !important;
    margin: 30px auto;
  }
  .no-banner-heading {
    display: none;
  }
  .navbar-toggler {
    top: 10px;
    right: 0px;
  }
  .navbar .logo {
    position: absolute;
    top: 10px;
    left: 25px;
  }
  .mobile-view {
    display: none !important;
  }
  .mobile-first-text {
    margin-top: 150px !important;
  }
  .mobile-view-background {
    width: 100%;
    height: 71vh;
    background-color: #ffdab9;
    z-index: 1;
  }
  .no-display {
    display: none;
  }
}
