* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.contact-section {
  background: url(Images/pexels-negative-space-33999.jpg) no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -15px;
  padding: 100px 0;
}
.nav-color-item:hover {
  color: #e76e5c !important;
}

@media only screen and (max-device-width: 768px) {
  .contact-section {
    background: url(Images/pexels_negative_spac_zaD98_mobile.jpg) no-repeat
      center;
    background-size: cover;
    padding: 40px 0;
    image-resolution: 72dpi;
  }
}

.contact-section h1 {
  text-align: center;
  color: #2f3542;
  margin-top: 20px;
}
.border {
  width: 100px;
  height: 10px;
  background: #ea7b6a;
  margin: 20px auto;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 26px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text {
  resize: none;
  height: 120px;
}
.contact-form-btn {
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover {
  background: #ea7b6a;
}

.contact-info {
  display: flex;
  width: 100%;
  max-width: 1800px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background: #2f3542;
}

.card {
  background: #2f3542;
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  padding-top: 30px;
  border: none !important;
  outline: none !important;
}

.card-icon {
  font-size: 28px;
  background: #ff6348;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-icon {
  background: none;
  color: #ffffff;
  transform: scale(1.6);
}

.card p {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.card:hover p {
  max-height: 40px;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .contact-info {
    flex-direction: column;
  }
  .card {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}
body {
  background-color: #fafafa;
}

.navbar-nav .nav-item .nav-link {
  color: black;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: #ea7e6e;
}

.bg-none .navbar-collapse {
  text-align: center;
}

.navbar-toggler {
  outline: none !important;
  border: none !important;
}

@media (min-width: 992px) {
  .hero li {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

#footer {
  background: #fafafa;
  color: #848484;
  font-size: 14px;
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 16px;
  padding: 0 30px;
  outline: none;
  margin: 1px;
  border: 1px solid black;
  transition: 0.3s;
  border-radius: 20px;
}
#footer .footer-newsletter form input[type="email"] {
  border: none;
  outline: none;
  border-radius: 10px;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #eaeaea;
  padding: 6px 10px;
  position: relative;
  border-radius: 20px;
}
#footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.footer-top ul li a,
.footer-contact a {
  color: #848484;
  text-decoration: none;
  transform: color;
  transition-duration: 500ms;
}

.footer-top ul li a:hover,
.footer-contact a:hover {
  color: #e8715f;
  transform: color;
  transition-duration: 500ms;
}

.footer-icon-link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 60px;
  cursor: pointer;
}

.footer-icon-link:after {
  display: block;
  content: "";
  border-bottom: solid 2px #000;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
  transform-origin: 50% 50%;
}

.footer-icon-link:hover:after {
  transform: scaleX(1);
  transform-origin: 50% 50%;
}

.footer-icon {
  transform: translate(0px, 0px);
  transition-duration: 500ms;
}
.footer-icon:hover {
  transform: translate(0px, -10px);
}

.button {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: #c8e6c9;
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.glow-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}
@media (max-width: 986px) {
  .navbar .mobile-button_slide {
    height: 10px !important;

    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: inset -35px 0 0 0 white;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    font-size: 1.1rem;
    margin-right: auto;
  }

  .navbar .mobile-view-ul .mobile-view-li {
    height: 100%;
  }

  .navbar .mobile-view-ul .mobile-view-li {
    padding: 35px 0;
  }

  .navbar .mobile-button_slide {
    font-weight: 500;
    cursor: pointer;
    /* box-shadow: inset -25px 0 0 0 white; */
    padding: 5px 0;
    height: 10px !important;
    margin: 30px auto;
  }
  .no-banner-heading {
    display: none;
  }
  .navbar-toggler {
    top: 10px;
    right: 0px;
  }
  .navbar .logo {
    position: absolute;
    top: 10px;
    left: 25px;
  }
  .mobile-view {
    display: none !important;
  }
  .mobile-first-text {
    margin-top: 150px !important;
  }
  .mobile-view-background {
    width: 100%;
    height: 100vh;
    background-color: #ffdab9;
    z-index: 1;
  }
}
