.container-2 {
  width: 100%;
  height: 120vh;
}
.container-2-after {
  height: 50vh;
  overflow: hidden;
}

.rowOf2 {
  height: 120vh;
  width: 100%;
}
.rowOf2-after {
  height: 50vh;
  width: 100%;
  overflow: hidden;
}
.leftContainer {
  height: 100vh;
  width: 100%;
}
.leftContainer-after {
  height: 50vh;
  overflow: hidden;
}

.rightContainer {
  height: 100vh;
}

.C2-main-heading {
  position: absolute;
  margin-top: 30px;
  right: -20px;
  font-size: 28px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.leftContainer h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #e96b56;
  top: 50px;
  left: calc(50% - 25px);
}
.C2-subHeading {
  position: absolute;
  right: -160px;
  top: 100px;
}
.monologDiv {
  width: 700px;
  height: 50px;
  position: absolute;
  top: 145px;
  right: -200px;
}
.monologText {
  position: absolute;
  font-size: 30px;
  color: black;
  z-index: 10;
  font-style: sans-serif;
}
.borderText {
  border-bottom: 1px solid black;
}
.borderText:hover {
  color: #e96b56;
  border-bottom: none;
}

.videoDiv {
  position: absolute;
  left: -200px;
  height: 100%;
  width: 100%;
}
.quadicImg {
  width: 150px;
  height: 150px;
  opacity: 0;
}
.quadicImgCenter {
  width: 200px;
  height: 200px;
  opacity: 0;
}

.C2-bg-video {
  opacity: 0;

  width: 100%;
  height: 100%;
  position: absolute;
}
.video-show {
  left: -30px;
  animation-name: widthIncreaseLeft;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  opacity: 0.3;
}
@keyframes widthIncreaseLeft {
  0% {
    width: 10%;
  }

  100% {
    width: 50%;
  }
}
.VisiblityNone {
  display: block;
  opacity: 0.5;
}

.img-div {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 190px;
  right: -210px;
  z-index: 1;
}

.imgRotation1 {
  position: absolute;
  top: 110px;
  left: 20px;
  animation-name: img1motion;
  animation-duration: 18s;
  animation-delay: 1s;
  opacity: 1;
}
@keyframes img1motion {
  0% {
    /* 1st position */

    height: 60px;
    width: 60px;
    top: 300px;
    position: absolute;
    left: 290px;
  }
  10% {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 110px;
    left: 20px;
  }
  11%,
  14% {
  }
  15%,
  25% {
    /* 2nd position */
    position: absolute;
    top: 20px;
    left: 230px;
  }
  26%,
  29% {
  }

  30%,
  40% {
    /* 3rd position */

    position: absolute;
    top: 110px;
    left: 420px;
  }
  41%,
  54% {
  }
  45%,
  55% {
    /* 4th position */

    position: absolute;
    top: 350px;
    left: 420px;
  }
  56%,
  59% {
  }
  60%,
  70% {
    /* 5th position */

    position: absolute;
    top: 430px;
    left: 225px;
  }
  71%,
  74% {
  }
  75%,
  85% {
    /* 6th position */

    position: absolute;
    top: 350px;
    left: 20px;
  }
  86%,
  89% {
  }
  90%,
  100% {
    /* 1st position */

    position: absolute;
    top: 110px;
    left: 20px;
  }
}

.imgRotation2 {
  position: absolute;
  top: 20px;
  left: 230px;
  animation-name: img2motion;
  animation-duration: 18s;
  animation-delay: 1s;
  opacity: 1;
}
@keyframes img2motion {
  0% {
    height: 60px;
    width: 60px;
    top: 300px;
    position: absolute;
    left: 290px;
  }
  10% {
    /* 2nd position */

    position: absolute;
    top: 20px;
    left: 230px;
    height: 150px;
    width: 150px;
  }
  11%,
  14% {
  }
  15%,
  25% {
    /* 3rd position */

    position: absolute;
    top: 110px;
    left: 420px;
  }
  26%,
  29% {
  }

  30%,
  40% {
    /* 4th position */

    position: absolute;
    top: 350px;
    left: 420px;
  }
  41%,
  54% {
  }
  45%,
  55% {
    /* 5th position */

    position: absolute;
    top: 430px;
    left: 225px;
  }
  56%,
  59% {
  }
  60%,
  70% {
    /* 6th position */

    position: absolute;
    top: 350px;
    left: 20px;
  }
  71%,
  74% {
  }
  75%,
  85% {
    /* 1st position */

    position: absolute;
    top: 110px;
    left: 20px;
  }
  86%,
  89% {
  }
  90%,
  100% {
    /* 2nd position */
    position: absolute;
    top: 20px;
    left: 230px;
  }
}

.imgRotation3 {
  position: absolute;
  top: 110px;
  left: 420px;
  animation-name: img3motion;
  animation-duration: 18s;
  animation-delay: 1s;
  opacity: 1;
}
@keyframes img3motion {
  0% {
    height: 60px;
    width: 60px;
    top: 300px;
    position: absolute;
    left: 290px;
  }
  10% {
    /* 3rd position */
    height: 150px;
    width: 150px;
    position: absolute;
    top: 110px;
    left: 420px;
  }
  11%,
  14% {
  }
  15%,
  25% {
    /* 4th position */

    position: absolute;
    top: 350px;
    left: 420px;
  }
  26%,
  29% {
  }

  30%,
  40% {
    /* 5th position */

    position: absolute;
    top: 430px;
    left: 225px;
  }
  41%,
  54% {
  }
  45%,
  55% {
    /* 6th position */

    position: absolute;
    top: 350px;
    left: 20px;
  }
  56%,
  59% {
  }
  60%,
  70% {
    /* 1st position */

    position: absolute;
    top: 110px;
    left: 20px;
  }
  71%,
  74% {
  }
  75%,
  85% {
    /* 2nd position */
    position: absolute;
    top: 20px;
    left: 230px;
  }
  86%,
  89% {
  }
  90%,
  100% {
    /* 3rd position */

    position: absolute;
    top: 110px;
    left: 420px;
  }
}
.img4 {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 200px;
  left: 200px;
  animation-name: blastInSize;
  animation-duration: 0.5s;
  opacity: 1;
  animation-delay: 1s;
}
@keyframes blastInSize {
  0% {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 300px;
    left: 280px;
  }
  100% {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 200px;
    left: 200px;
  }
}

.imgRotation5 {
  position: absolute;
  top: 350px;
  left: 20px;
  animation-name: img5motion;
  animation-duration: 18s;
  animation-delay: 1s;
  opacity: 1;
}
@keyframes img5motion {
  0% {
    height: 60px;
    width: 60px;
    top: 300px;
    position: absolute;
    left: 290px;
  }
  10% {
    /* 6th position */

    position: absolute;
    top: 350px;
    left: 20px;
    height: 150px;
    width: 150px;
  }
  11%,
  14% {
  }
  15%,
  25% {
    /* 1st position */

    position: absolute;
    top: 110px;
    left: 20px;
  }
  26%,
  29% {
  }

  30%,
  40% {
    /* 2nd position */
    position: absolute;
    top: 20px;
    left: 230px;
  }
  41%,
  54% {
  }
  45%,
  55% {
    /* 3rd position */

    position: absolute;
    top: 110px;
    left: 420px;
  }
  56%,
  59% {
  }
  60%,
  70% {
    /* 4th position */

    position: absolute;
    top: 350px;
    left: 420px;
  }
  71%,
  74% {
  }
  75%,
  85% {
    /* 5th position */

    position: absolute;
    top: 430px;
    left: 225px;
  }
  86%,
  89% {
  }
  90%,
  100% {
    /* 6th position */

    position: absolute;
    top: 350px;
    left: 20px;
  }
}

.imgRotation6 {
  position: absolute;
  top: 430px;
  left: 225px;
  animation-name: img6motion;
  animation-duration: 18s;
  animation-delay: 1s;
  opacity: 1;
}
@keyframes img6motion {
  0% {
    height: 60px;
    width: 60px;
    top: 300px;
    position: absolute;
    left: 290px;
  }
  10% {
    height: 150px;
    width: 150px;
    top: 430px;
    left: 225px;
    /* 5th position */

    position: absolute;
    top: 430px;
    left: 225px;
  }
  11%,
  14% {
  }
  15%,
  25% {
    /* 6th position */

    position: absolute;
    top: 350px;
    left: 20px;
  }
  26%,
  29% {
  }

  30%,
  40% {
    /* 1st position */

    position: absolute;
    top: 110px;
    left: 20px;
  }
  41%,
  54% {
  }
  45%,
  55% {
    /* 2nd position */
    position: absolute;
    top: 20px;
    left: 230px;
    opacity: 1;
  }
  56%,
  59% {
  }
  60%,
  70% {
    /* 3rd position */

    position: absolute;
    top: 110px;
    left: 420px;
  }
  71%,
  74% {
  }
  75%,
  85% {
    /* 4th position */

    position: absolute;
    top: 350px;
    left: 420px;
  }
  86%,
  89% {
  }
  90%,
  100% {
    /* 5th position */

    position: absolute;
    top: 430px;
    left: 225px;
  }
}

.imgRotation7 {
  position: absolute;
  top: 350px;
  left: 420px;
  animation-name: img7motion;
  animation-duration: 18s;
  animation-delay: 1s;
  opacity: 1;
}
@keyframes img7motion {
  0% {
    height: 60px;
    width: 60px;
    top: 300px;
    position: absolute;
    left: 290px;
  }
  10% {
    /* 4th position */

    position: absolute;
    top: 350px;
    left: 420px;
    height: 150px;
    width: 150px;
  }
  11%,
  14% {
  }
  15%,
  25% {
    /* 5th position */

    position: absolute;
    top: 430px;
    left: 225px;
  }
  26%,
  29% {
  }

  30%,
  40% {
    /* 6th position */

    position: absolute;
    top: 350px;
    left: 20px;
  }
  41%,
  54% {
  }
  45%,
  55% {
    /* 1st position */

    position: absolute;
    top: 110px;
    left: 20px;
  }
  56%,
  59% {
  }
  60%,
  70% {
    /* 2nd position */
    position: absolute;
    top: 20px;
    left: 230px;
  }
  71%,
  74% {
  }
  75%,
  85% {
    /* 3rd position */

    position: absolute;
    top: 110px;
    left: 420px;
  }
  86%,
  89% {
  }
  90%,
  100% {
    /* 4th position */

    position: absolute;
    top: 350px;
    left: 420px;
  }
}

.ParagaphDiv {
  width: 600px;
  height: 90vh;
  /* border: 2px solid black; */
  position: absolute;
  top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightParagraph {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  position: absolute;
  line-height: 1.5;
  top: 0px;
  height: 100%;
  width: 100%;
}
.C2-bottom-part {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.C2-bottom-line {
  display: flex;
  justify-self: center;
  align-self: center;
  margin-bottom: 20px;
  padding-bottom: 2px;
  margin-left: 50px;
  width: 80%;
  height: 1px;
}
.C2-bottom-arrow {
  position: absolute;
  right: 50%;
  animation-name: arrow-motion;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
.C2-after-height {
  height: 90vh;
}
@keyframes arrow-motion {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 10px;
  }
}
/* *************************************************************Play-Back-Button ************************************************************ */
.Play-back-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  right: 0px;
}
.Play-back-button-index {
  z-index: 10;
}

.play-button {
  width: 100%;
  height: 100%;
  position: relative;

  z-index: 0 !important;
}

.play-backdrop {
  /* margin-top: 100px; */
  width: 100%;
  height: 100% !important;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.C-2-Video-logo {
  position: absolute;
  top: 200px;
  left: 20px;
  z-index: 1;
}
.video-logo-img-1 {
  width: 60px;
  height: 60px;
  position: absolute;

  z-index: 1;
}
.video-logo-img-2 {
  width: 60px;
  height: 60px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
.C-2-logo-text {
  position: absolute;
  top: 10px;
  left: 60px;
  opacity: 0;
  color: black;
  font-size: 1.8rem;
  font-family: sans-serif;
}

.C-2-logo-text span {
  color: rgb(232, 113, 95);
}
.C-2-Video-logo:hover .video-logo-img-2 {
  opacity: 1;
}

.C-2-Video-logo:hover .C-2-logo-text {
  opacity: 1;
  transform: translateX(10px);
  transition: 0.6s ease;
}
.play-close {
  width: 100px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 200px;
  border: none;
  outline: none;
  background: none;
  opacity: 0;
  cursor: pointer;
  color: white;
  background-color: black;
  z-index: 1;
}

.play-close::after {
  transform: rotate(-45deg);
}

.play-circles {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -130px;
  left: 1040px;
  /* left: 50%; */
  animation-name: video-button-motion;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-duration: 0.6s;
}
.playBack-button-in-circle {
  position: absolute;
  bottom: -125px;
  left: 1045px;
  color: white;
  background-color: #e96b56;
  border-radius: 50%;
}
@keyframes video-button-motion {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.playBack-button-in-circle:hover {
  color: #000000;
  background-color: white;
}
.video-liner {
  position: absolute;
  bottom: -135px;
  left: 300px;
  font-size: 35px;
  font-weight: 800;
  font-family: Averta, sans-serif;
  letter-spacing: 5px;
  color: #000000;
}
.video-liner:hover {
  border-bottom: 2px solid black;
}

.play-perspective {
  width: 100%;
  height: 100%;
  position: absolute;
}

.play-triangle {
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  /* top: 5%; */
}
/* .play-video {
  width: 100%;
  height: 100%;
} */
.Video-frame {
  width: 100%;
  height: 100%;
  margin-top: 150px;

  object-fit: contain;
}

/* 

*********************** For Moble view *******************

 */
@media (max-width: 512px) {
  .container-2 {
    width: 100%;
    height: 210vh;
    overflow: hidden;
    /* border: 2px solid black; */
  }
  .rowOf2 {
    /* border: 2px solid black; */
    height: 100vh;
    width: 100%;
  }
  .leftContainer {
    /* background-color: rgba(0,0,0,0.3); */
    height: 100vh;
    width: 100%;
    /* border: 2px solid black; */
  }

  .rightContainer {
    height: 100vh;

    /* border: 2px solid black; */
  }
  .ParagaphDiv {
    width: 400px;
    height: 90vh;
    /* border: 2px solid black; */
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rightParagraph {
    font-size: 16px;
    margin-left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;
    position: absolute;
    line-height: 1.45;
    top: 0px;
    height: 100%;
    width: 100%;
  }

  .C2-main-heading {
    text-align: center;
    position: absolute;
    text-align: center;
    margin-top: 20px;
    right: 80px;
    font-size: 35px;
    font-weight: 600;
    font-family: "Montserrat" "Oswald", sans-serif;
    z-index: 1;
  }
  .leftContainer h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 3px;
    background: #e96b56;
    top: 50px;
    left: calc(50% - 25px);
  }
  .C2-subHeading {
    position: absolute;
    text-align: center;
    left: 20px;
    top: 90px;
    width: 400px;
    z-index: 1;
    color: black;
  }
  .monologDiv {
    width: 390px;
    height: 50px;
    /* border: 1px solid black; */
    position: absolute;

    top: 145px;
    left: 30px;
  }
  .monologText {
    position: absolute;
    font-size: 25px;
    color: black;
    z-index: 1;
    font-style: sans-serif;
  }
  .img-div {
    background-color: white;
    width: 100%;
    height: 500px;
    /* border: 2px solid red; */
    position: absolute;
    top: 190px;
    left: 0px;
    right: 0px;
    z-index: 1;
  }
  .dimnishAnimation {
    animation-name: diminshAnimation;
    animation-duration: 10s;
    animation-delay: 4s;
  }
  @keyframes diminshAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .quadicImg {
    width: 110px;
    height: 110px;
    opacity: 0;
  }
  .quadicImgCenter {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
  .videoDiv {
    position: absolute;
    left: 15px;
    height: 100%;
    width: 100%;
  }

  .C2-bg-video {
    opacity: 0;
    top: 0px !important;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .video-show {
    left: 0px;
    top: -50px !important;
    animation-name: widthIncreaseLeft;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 4s;
    opacity: 0.5;
  }
  @keyframes widthIncreaseLeft {
    0% {
      width: 10%;
      opacity: 0.5;
    }

    10%,
    100% {
      width: 100%;
      opacity: 0.5;
    }
  }

  .imgRotation1 {
    position: absolute;
    top: 110px;
    left: 20px;
    animation-name: img1motion;
    animation-duration: 18s;
    animation-delay: 1.3s;
    opacity: 1;
  }
  @keyframes img1motion {
    0% {
      /* 1st position */

      height: 60px;
      width: 60px;
      top: 210px;
      left: 170px;
      position: absolute;
    }
    10% {
      height: 110px;
      width: 110px;
      position: absolute;
      top: 110px;
      left: 20px;
    }
    11%,
    14% {
    }
    15%,
    25% {
      /* 2nd position */
      position: absolute;
      top: 40px;
      left: 150px;
    }
    26%,
    29% {
    }

    30%,
    40% {
      /* 3rd position */

      position: absolute;
      top: 110px;
      left: 280px;
    }
    41%,
    54% {
    }
    45%,
    55% {
      /* 4th position */
      position: absolute;
      top: 300px;
      left: 280px;
    }
    56%,
    59% {
    }
    60%,
    70% {
      /* 5th position */
      position: absolute;
      top: 370px;
      left: 160px;
    }
    71%,
    74% {
    }
    75%,
    85% {
      /* 6th position */
      position: absolute;
      top: 300px;
      left: 20px;
    }
    86%,
    89% {
    }
    90%,
    100% {
      /* 1st position */

      position: absolute;
      top: 110px;
      left: 20px;
    }
  }

  .imgRotation2 {
    position: absolute;
    top: 40px;
    left: 150px;
    animation-name: img2motion;
    animation-duration: 18s;
    animation-delay: 1.3s;
    opacity: 1;
  }
  @keyframes img2motion {
    0% {
      height: 60px;
      width: 60px;
      top: 180px;
      left: 130px;
      position: absolute;
    }
    10% {
      /* 2nd position */

      position: absolute;
      top: 40px;
      left: 160px;
      height: 110px;
      width: 110px;
    }
    11%,
    14% {
    }
    15%,
    25% {
      /* 3rd position */
      position: absolute;
      top: 110px;
      left: 280px;
    }
    26%,
    29% {
    }

    30%,
    40% {
      /* 4th position */
      position: absolute;
      top: 300px;
      left: 280px;
    }
    41%,
    54% {
    }
    45%,
    55% {
      /* 5th position */
      position: absolute;
      top: 370px;
      left: 160px;
    }
    56%,
    59% {
    }
    60%,
    70% {
      /* 6th position */
      position: absolute;
      top: 300px;
      left: 20px;
    }
    71%,
    74% {
    }
    75%,
    85% {
      /* 1st position */

      position: absolute;
      top: 110px;
      left: 20px;
    }
    86%,
    89% {
    }
    90%,
    100% {
      /* 2nd position */
      position: absolute;
      position: absolute;
      top: 40px;
      left: 150px;
    }
  }

  .imgRotation3 {
    position: absolute;
    top: 110px;
    left: 280px;
    animation-name: img3motion;
    animation-duration: 18s;
    animation-delay: 1.3s;
    opacity: 1;
  }
  @keyframes img3motion {
    0% {
      height: 60px;
      width: 60px;
      top: 210px;
      left: 170px;
      position: absolute;
    }
    10% {
      /* 3rd position */
      height: 110px;
      width: 110px;
      position: absolute;
      top: 110px;
      left: 280px;
    }
    11%,
    14% {
    }
    15%,
    25% {
      /* 4th position */
      position: absolute;
      top: 300px;
      left: 280px;
    }
    26%,
    29% {
    }

    30%,
    40% {
      /* 5th position */
      position: absolute;
      top: 370px;
      left: 150px;
    }
    41%,
    54% {
    }
    45%,
    55% {
      /* 6th position */
      position: absolute;
      top: 300px;
      left: 20px;
    }
    56%,
    59% {
    }
    60%,
    70% {
      /* 1st position */
      position: absolute;
      top: 110px;
      left: 20px;
    }
    71%,
    74% {
    }
    75%,
    85% {
      /* 2nd position */
      position: absolute;
      top: 40px;
      left: 150px;
    }
    86%,
    89% {
    }
    90%,
    100% {
      /* 3rd position */

      position: absolute;
      top: 110px;
      left: 280px;
    }
  }
  .img4 {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 180px;
    left: 130px;
    animation-name: blastInSize;
    animation-duration: 0.5s;
    opacity: 1;
    animation-delay: 1s;
    z-index: 1;
  }
  @keyframes blastInSize {
    0% {
      height: 10px;
      width: 10px;
      position: absolute;
      top: 210px;
      left: 150px;
    }
    100% {
      position: absolute;
      height: 150px;
      width: 150px;
      top: 180px;
      left: 130px;
    }
  }

  .imgRotation5 {
    position: absolute;
    top: 300px;
    left: 20px;
    animation-name: img5motion;
    animation-duration: 18s;
    animation-delay: 1.3s;
    opacity: 1;
  }
  @keyframes img5motion {
    0% {
      height: 60px;
      width: 60px;
      top: 210px;
      left: 170px;
      position: absolute;
    }
    10% {
      /* 6th position */
      position: absolute;
      top: 300px;
      left: 20px;
      height: 110px;
      width: 110px;
    }
    11%,
    14% {
    }
    15%,
    25% {
      /* 1st position */
      position: absolute;
      top: 110px;
      left: 20px;
    }
    26%,
    29% {
    }

    30%,
    40% {
      /* 2nd position */
      position: absolute;
      top: 40px;
      left: 150px;
    }
    41%,
    54% {
    }
    45%,
    55% {
      /* 3rd position */
      position: absolute;
      top: 110px;
      left: 280px;
    }
    56%,
    59% {
    }
    60%,
    70% {
      /* 4th position */
      position: absolute;
      top: 300px;
      left: 280px;
    }
    71%,
    74% {
    }
    75%,
    85% {
      /* 5th position */
      position: absolute;
      top: 370px;
      left: 150px;
    }
    86%,
    89% {
    }
    90%,
    100% {
      /* 6th position */
      position: absolute;
      top: 300px;
      left: 20px;
    }
  }

  .imgRotation6 {
    position: absolute;
    top: 370px;
    left: 150px;
    animation-name: img6motion;
    animation-duration: 18s;
    animation-delay: 1.3s;
    opacity: 1;
  }
  @keyframes img6motion {
    0% {
      height: 60px;
      width: 60px;
      top: 210px;
      left: 170px;
      position: absolute;
    }
    10% {
      height: 110px;
      width: 110px;
      position: absolute;
      top: 370px;
      left: 150px;
    }
    11%,
    14% {
    }
    15%,
    25% {
      /* 6th position */
      position: absolute;
      top: 300px;
      left: 20px;
    }
    26%,
    29% {
    }

    30%,
    40% {
      /* 1st position */
      position: absolute;
      top: 110px;
      left: 20px;
    }
    41%,
    54% {
    }
    45%,
    55% {
      /* 2nd position */
      position: absolute;
      top: 40px;
      left: 150px;
    }
    56%,
    59% {
    }
    60%,
    70% {
      /* 3rd position */

      position: absolute;
      top: 110px;
      left: 280px;
    }
    71%,
    74% {
    }
    75%,
    85% {
      /* 4th position */
      position: absolute;
      top: 300px;
      left: 280px;
    }
    86%,
    89% {
    }
    90%,
    100% {
      /* 5th position */
      position: absolute;
      top: 370px;
      left: 150px;
    }
  }

  .imgRotation7 {
    position: absolute;
    top: 300px;
    left: 280px;
    animation-name: img7motion;
    animation-duration: 18s;
    animation-delay: 1.3s;
    opacity: 1;
  }
  @keyframes img7motion {
    0% {
      height: 60px;
      width: 60px;
      top: 210px;
      left: 170px;
      position: absolute;
    }
    10% {
      /* 4th position */
      position: absolute;
      top: 300px;
      left: 280px;
      height: 110px;
      width: 110px;
    }
    11%,
    14% {
    }
    15%,
    25% {
      /* 5th position */
      position: absolute;
      top: 370px;
      left: 150px;
    }
    26%,
    29% {
    }

    30%,
    40% {
      /* 6th position */
      position: absolute;
      top: 300px;
      left: 20px;
    }
    41%,
    54% {
    }
    45%,
    55% {
      /* 1st position */
      position: absolute;
      top: 110px;
      left: 20px;
    }
    56%,
    59% {
    }
    60%,
    70% {
      /* 2nd position */
      position: absolute;
      top: 40px;
      left: 150px;
    }
    71%,
    74% {
    }
    75%,
    85% {
      /* 3rd position */

      position: absolute;
      top: 110px;
      left: 280px;
    }
    86%,
    89% {
    }
    90%,
    100% {
      /* 4th position */
      position: absolute;
      top: 300px;
      left: 280px;
    }
  }
  .C2-bottom-part {
    display: none;
  }
  .Play-back-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    right: 0px;
  }
  .Play-back-button-index {
    z-index: 10;
  }

  .play-button {
    width: 100%;
    height: 100%;
    position: relative;

    z-index: 0 !important;
  }

  .play-backdrop {
    /* margin-top: 100px; */
    width: 100%;
    height: 100vh !important;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  .play-close {
    width: 100px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 620px;
    border: none;
    outline: none;
    background: none;
    opacity: 0;
    cursor: pointer;
    color: white;
    background-color: black;
    z-index: 1;
  }

  .play-close::after {
    transform: rotate(-45deg);
  }

  .play-perspective {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .play-triangle {
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
  }
  /* .play-video {
    width: 400px;
    height: 200px;
  } */
  .Video-frame {
    width: 100%;
    height: 100%;
    margin-top: 250px;
  }
  .play-button-div {
    display: block;
    position: absolute;
    bottom: -55px;
    left: 305px;
    width: auto;
    height: auto;
    border: 2px solid black;
  }

  .play-circles {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -55px;
    left: 305px;
    /* left: 50%; */
    animation-name: video-button-motion;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: 0.6s;
  }
  .playBack-button-in-circle {
    position: absolute;
    bottom: -50px;
    left: 310px;
    color: white;
    background-color: #e96b56;
    border-radius: 50%;
  }
  @keyframes video-button-motion {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .playBack-button-in-circle:hover {
    color: black;
    background-color: white;
  }
  .video-liner {
    position: absolute;
    bottom: -60px;
    left: 15px;
    font-size: 20px;
    font-weight: 600;
    font-family: Averta, sans-serif;
    letter-spacing: 0px;
    border-bottom: 2px solid black;
  }
  .C-2-Video-logo {
    position: absolute;
    top: 620px;
    left: 20px;
    z-index: 1;
  }
  .video-logo-img-1 {
    width: 50px;
    height: 50px;
    position: absolute;

    z-index: 1;
  }
  .video-logo-img-2 {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    z-index: 1;
  }
  .C-2-logo-text {
    position: absolute;
    top: 10px;
    left: 60px;
    opacity: 0;
    color: black;
    font-size: 1.6rem;
    font-family: sans-serif;
  }

  .C-2-logo-text span {
    color: rgb(232, 113, 95);
  }
  .C-2-Video-logo:hover .video-logo-img-2 {
    opacity: 1;
  }

  .C-2-Video-logo:hover .C-2-logo-text {
    opacity: 1;
    transform: translateX(10px);
    transition: 0.6s ease;
  }
}

/* *********************************************Landscape Mobile View***************************************************** */

@media (min-width: 800px) and (max-width: 992px) {
  */ .container-2 {
    width: 100%;
    height: 210vh;
    overflow: hidden;
    /* border: 2px solid black; */
  }
  .rowOf2 {
    /* border: 2px solid black; */
    height: 100vh;
    width: 100%;
  }
  .leftContainer {
    /* background-color: rgba(0,0,0,0.3); */
    height: 100vh;
    width: 100%;
    /* border: 2px solid black; */
  }

  .rightContainer {
    height: 100vh;

    /* border: 2px solid black; */
  }
  .ParagaphDiv {
    width: 400px;
    height: 90vh;
    /* border: 2px solid black; */
    position: absolute;
    top: 120px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rightParagraph {
    font-size: 16px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;
    position: absolute;
    line-height: 1.35;
    top: 0px;
    height: 100%;
    width: 100%;
  }

  .C2-main-heading {
    text-align: center;
    position: absolute;
    text-align: center;
    margin-top: 20px;
    right: -40px;
    font-size: 30px;
    font-weight: 600;
    font-family: "Montserrat" "Oswald", sans-serif;
    z-index: 1;
  }
  .leftContainer h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 3px;
    background: #e96b56;
    top: 38px;
    left: calc(50% - 25px);
  }
  .C2-subHeading {
    position: absolute;
    text-align: center;
    left: 260px;
    top: 70px;
    width: 400px;
    z-index: 1;
    color: black;
  }
  .monologDiv {
    width: 390px;
    height: 50px;
    /* border: 1px solid black; */
    position: absolute;

    top: 145px;
    left: 60px;
  }
  .monologText {
    position: absolute;
    font-size: 25px;
    color: black;
    z-index: 1;
    font-style: sans-serif;
  }
  .img-div {
    background-color: white;
    width: 70%;
    height: 500px;
    /* border: 2px solid red; */
    position: absolute;
    top: 190px;
    left: 50px;
    right: 0px;
    z-index: 1;
  }
  .dimnishAnimation {
    animation-name: diminshAnimation;
    animation-duration: 10s;
    animation-delay: 4s;
  }
  @keyframes diminshAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .quadicImg {
    width: 110px;
    height: 110px;
    opacity: 0;
  }
  .quadicImgCenter {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
  .videoDiv {
    position: absolute;
    left: 15px;
    height: 100%;
    width: 100%;
  }

  .C2-bg-video {
    position: absolute;
    opacity: 0;
    top: 190px !important;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
  }
  .video-show {
    left: 0px;
    top: 190px !important;
    animation-name: widthIncreaseLeft;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 4s;
    opacity: 0.5;
  }
  @keyframes widthIncreaseLeft {
    0% {
      width: 10%;
      opacity: 0.5;
    }

    10%,
    100% {
      width: 100%;
      opacity: 0.5;
    }
  }

  .imgRotation1 {
    position: absolute;
    top: 110px;
    left: 20px;
    animation-name: img1motion;
    animation-duration: 18s;
    animation-delay: 1.3s;
    opacity: 1;
  }
  @keyframes img1motion {
    0% {
      /* 1st position */

      height: 60px;
      width: 60px;
      top: 210px;
      left: 170px;
      position: absolute;
    }
    10% {
      height: 110px;
      width: 110px;
      position: absolute;
      top: 110px;
      left: 20px;
    }
    11%,
    14% {
    }
    15%,
    25% {
      /* 2nd position */
      position: absolute;
      top: 40px;
      left: 150px;
    }
    26%,
    29% {
    }

    30%,
    40% {
      /* 3rd position */

      position: absolute;
      top: 110px;
      left: 280px;
    }
    41%,
    54% {
    }
    45%,
    55% {
      /* 4th position */
      position: absolute;
      top: 300px;
      left: 280px;
    }
    56%,
    59% {
    }
    60%,
    70% {
      /* 5th position */
      position: absolute;
      top: 370px;
      left: 160px;
    }
    71%,
    74% {
    }
    75%,
    85% {
      /* 6th position */
      position: absolute;
      top: 300px;
      left: 20px;
    }
    86%,
    89% {
    }
    90%,
    100% {
      /* 1st position */

      position: absolute;
      top: 110px;
      left: 20px;
    }
  }

  .imgRotation2 {
    position: absolute;
    top: 40px;
    left: 150px;
    animation-name: img2motion;
    animation-duration: 18s;
    animation-delay: 1.3s;
    opacity: 1;
  }
  @keyframes img2motion {
    0% {
      height: 60px;
      width: 60px;
      top: 180px;
      left: 130px;
      position: absolute;
    }
    10% {
      /* 2nd position */

      position: absolute;
      top: 40px;
      left: 160px;
      height: 110px;
      width: 110px;
    }
    11%,
    14% {
    }
    15%,
    25% {
      /* 3rd position */
      position: absolute;
      top: 110px;
      left: 280px;
    }
    26%,
    29% {
    }

    30%,
    40% {
      /* 4th position */
      position: absolute;
      top: 300px;
      left: 280px;
    }
    41%,
    54% {
    }
    45%,
    55% {
      /* 5th position */
      position: absolute;
      top: 370px;
      left: 160px;
    }
    56%,
    59% {
    }
    60%,
    70% {
      /* 6th position */
      position: absolute;
      top: 300px;
      left: 20px;
    }
    71%,
    74% {
    }
    75%,
    85% {
      /* 1st position */

      position: absolute;
      top: 110px;
      left: 20px;
    }
    86%,
    89% {
    }
    90%,
    100% {
      /* 2nd position */
      position: absolute;
      position: absolute;
      top: 40px;
      left: 150px;
    }
  }

  .imgRotation3 {
    position: absolute;
    top: 110px;
    left: 280px;
    animation-name: img3motion;
    animation-duration: 18s;
    animation-delay: 1.3s;
    opacity: 1;
  }
  @keyframes img3motion {
    0% {
      height: 60px;
      width: 60px;
      top: 210px;
      left: 170px;
      position: absolute;
    }
    10% {
      /* 3rd position */
      height: 110px;
      width: 110px;
      position: absolute;
      top: 110px;
      left: 280px;
    }
    11%,
    14% {
    }
    15%,
    25% {
      /* 4th position */
      position: absolute;
      top: 300px;
      left: 280px;
    }
    26%,
    29% {
    }

    30%,
    40% {
      /* 5th position */
      position: absolute;
      top: 370px;
      left: 150px;
    }
    41%,
    54% {
    }
    45%,
    55% {
      /* 6th position */
      position: absolute;
      top: 300px;
      left: 20px;
    }
    56%,
    59% {
    }
    60%,
    70% {
      /* 1st position */
      position: absolute;
      top: 110px;
      left: 20px;
    }
    71%,
    74% {
    }
    75%,
    85% {
      /* 2nd position */
      position: absolute;
      top: 40px;
      left: 150px;
    }
    86%,
    89% {
    }
    90%,
    100% {
      /* 3rd position */

      position: absolute;
      top: 110px;
      left: 280px;
    }
  }
  .img4 {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 180px;
    left: 130px;
    animation-name: blastInSize;
    animation-duration: 0.5s;
    opacity: 1;
    animation-delay: 1s;
    z-index: 1;
  }
  @keyframes blastInSize {
    0% {
      height: 10px;
      width: 10px;
      position: absolute;
      top: 210px;
      left: 150px;
    }
    100% {
      position: absolute;
      height: 150px;
      width: 150px;
      top: 180px;
      left: 130px;
    }
  }

  .imgRotation5 {
    position: absolute;
    top: 300px;
    left: 20px;
    animation-name: img5motion;
    animation-duration: 18s;
    animation-delay: 1.3s;
    opacity: 1;
  }
  @keyframes img5motion {
    0% {
      height: 60px;
      width: 60px;
      top: 210px;
      left: 170px;
      position: absolute;
    }
    10% {
      /* 6th position */
      position: absolute;
      top: 300px;
      left: 20px;
      height: 110px;
      width: 110px;
    }
    11%,
    14% {
    }
    15%,
    25% {
      /* 1st position */
      position: absolute;
      top: 110px;
      left: 20px;
    }
    26%,
    29% {
    }

    30%,
    40% {
      /* 2nd position */
      position: absolute;
      top: 40px;
      left: 150px;
    }
    41%,
    54% {
    }
    45%,
    55% {
      /* 3rd position */
      position: absolute;
      top: 110px;
      left: 280px;
    }
    56%,
    59% {
    }
    60%,
    70% {
      /* 4th position */
      position: absolute;
      top: 300px;
      left: 280px;
    }
    71%,
    74% {
    }
    75%,
    85% {
      /* 5th position */
      position: absolute;
      top: 370px;
      left: 150px;
    }
    86%,
    89% {
    }
    90%,
    100% {
      /* 6th position */
      position: absolute;
      top: 300px;
      left: 20px;
    }
  }

  .imgRotation6 {
    position: absolute;
    top: 370px;
    left: 150px;
    animation-name: img6motion;
    animation-duration: 18s;
    animation-delay: 1.3s;
    opacity: 1;
  }
  @keyframes img6motion {
    0% {
      height: 60px;
      width: 60px;
      top: 210px;
      left: 170px;
      position: absolute;
    }
    10% {
      height: 110px;
      width: 110px;
      position: absolute;
      top: 370px;
      left: 150px;
    }
    11%,
    14% {
    }
    15%,
    25% {
      /* 6th position */
      position: absolute;
      top: 300px;
      left: 20px;
    }
    26%,
    29% {
    }

    30%,
    40% {
      /* 1st position */
      position: absolute;
      top: 110px;
      left: 20px;
    }
    41%,
    54% {
    }
    45%,
    55% {
      /* 2nd position */
      position: absolute;
      top: 40px;
      left: 150px;
    }
    56%,
    59% {
    }
    60%,
    70% {
      /* 3rd position */

      position: absolute;
      top: 110px;
      left: 280px;
    }
    71%,
    74% {
    }
    75%,
    85% {
      /* 4th position */
      position: absolute;
      top: 300px;
      left: 280px;
    }
    86%,
    89% {
    }
    90%,
    100% {
      /* 5th position */
      position: absolute;
      top: 370px;
      left: 150px;
    }
  }

  .imgRotation7 {
    position: absolute;
    top: 300px;
    left: 280px;
    animation-name: img7motion;
    animation-duration: 18s;
    animation-delay: 1.3s;
    opacity: 1;
  }
  @keyframes img7motion {
    0% {
      height: 60px;
      width: 60px;
      top: 210px;
      left: 170px;
      position: absolute;
    }
    10% {
      /* 4th position */
      position: absolute;
      top: 300px;
      left: 280px;
      height: 110px;
      width: 110px;
    }
    11%,
    14% {
    }
    15%,
    25% {
      /* 5th position */
      position: absolute;
      top: 370px;
      left: 150px;
    }
    26%,
    29% {
    }

    30%,
    40% {
      /* 6th position */
      position: absolute;
      top: 300px;
      left: 20px;
    }
    41%,
    54% {
    }
    45%,
    55% {
      /* 1st position */
      position: absolute;
      top: 110px;
      left: 20px;
    }
    56%,
    59% {
    }
    60%,
    70% {
      /* 2nd position */
      position: absolute;
      top: 40px;
      left: 150px;
    }
    71%,
    74% {
    }
    75%,
    85% {
      /* 3rd position */

      position: absolute;
      top: 110px;
      left: 280px;
    }
    86%,
    89% {
    }
    90%,
    100% {
      /* 4th position */
      position: absolute;
      top: 300px;
      left: 280px;
    }
  }
  .C2-bottom-part {
    display: none;
  }
  .Play-back-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    right: 0px;
  }
  .Play-back-button-index {
    z-index: 10;
  }

  .play-button {
    width: 100%;
    height: 100%;
    position: relative;

    z-index: 0 !important;
  }

  .play-backdrop {
    /* margin-top: 100px; */
    width: 100%;
    height: 100vh !important;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  .play-close {
    width: 100px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 220px;
    border: none;
    outline: none;
    background: none;
    opacity: 0;
    cursor: pointer;
    color: white;
    background-color: black;
    z-index: 1;
  }

  .play-close::after {
    transform: rotate(-45deg);
  }

  .play-perspective {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .play-triangle {
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
  }
  /* .play-video {
    width: 400px;
    height: 200px;
  } */
  .Video-frame {
    width: 100%;
    height: 100%;
    margin-top: 0px;
  }
  .play-button-div {
    display: block;
    position: absolute;
    bottom: -55px;
    left: 305px;
    width: auto;
    height: auto;
    border: 2px solid black;
  }

  .play-circles {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 765px;
    left: 325px;
    /* left: 50%; */
    animation-name: video-button-motion;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: 0.6s;
  }
  .playBack-button-in-circle {
    position: absolute;
    bottom: -400px;
    left: 330px;
    color: white;
    background-color: #e96b56;
    border-radius: 50%;
  }
  @keyframes video-button-motion {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .playBack-button-in-circle:hover {
    color: black;
    background-color: white;
  }
  .video-liner {
    position: absolute;
    top: 780px;
    left: 35px;
    font-size: 20px;
    font-weight: 600;
    font-family: Averta, sans-serif;
    letter-spacing: 0px;
  }
  .C-2-Video-logo {
    position: absolute;
    top: 220px;
    left: 20px;
    z-index: 1;
  }
  .video-logo-img-1 {
    width: 50px;
    height: 50px;
    position: absolute;

    z-index: 1;
  }
  .video-logo-img-2 {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    z-index: 1;
  }
  .C-2-logo-text {
    position: absolute;
    top: 10px;
    left: 60px;
    opacity: 0;
    color: black;
    font-size: 1.6rem;
    font-family: sans-serif;
  }

  .C-2-logo-text span {
    color: rgb(232, 113, 95);
  }
  .C-2-Video-logo:hover .video-logo-img-2 {
    opacity: 1;
  }

  .C-2-Video-logo:hover .C-2-logo-text {
    opacity: 1;
    transform: translateX(10px);
    transition: 0.6s ease;
  }
}
